/*
 * Configuracion base de alertas  
 */
.swal2-title{
	color: white !important;
	font-family: 'Nunito', sans-serif !important;
	font-size: 14px !important;
	font-weight: 200 !important;
}

/*
 * Tablas
 */
table tbody td, table thead th{
    white-space: nowrap !important;
}

/*
 * Tablas
 */
.resaltado{
    padding: 0px !important;
}