/*
 * Configuracion base de alertas
 */
.swal2-title{
	color: white !important;
	font-family: 'Nunito', sans-serif !important;
	font-size: 14px !important;
	font-weight: 200 !important;
}

/*
 * Tablas
 */
table tbody td, table thead th, table tbody tr th{
    white-space: nowrap !important;
}

/*
 * Tablas
 */
.resaltado{
    padding: 0px !important;
}

/*
 * Centrar div
 */
.login{
	width: 280px;
	height: 280px;
	/* Center vertically and horizontally */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Poppins', sans-serif;
}

/*
 * Fondo imagen logo
 */
.img-logo{
    background-color: #78A775;
}
